a@model IEnumerable<TESTT.Models.Task>

@{
    ViewData["Title"] = "Task Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="mb-4">Task List</h1>

    <div class="row mb-3">
        <div class="col">
            <a asp-action="Create" class="btn btn-primary">Add New Task</a>
        </div>
    </div>

    <div class="row">
        @foreach (var task in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title task-title" data-task-id="@task.TaskId">@task.TaskTitle</h5>
                        <p class="card-text">
                                Priority: @task.TaskPriority <br />
                                Difficulty: @task.TaskDifficulty
                        </p>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input status-checkbox" data-task-id="@task.TaskId" checked="@task.TaskStatus" />
                            <label class="form-check-label">Completed</label>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@task.TaskId" class="btn btn-primary btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@task.TaskId" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.status-checkbox').change(function () {
                var taskId = $(this).data('task-id');
                var isChecked = $(this).prop('checked');
                updateTaskStatus(taskId, isChecked);
            });
        });

        function updateTaskStatus(taskId, isChecked) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateStatus", "Task")',
                data: { taskId: taskId },
                success: function (result) {
                    console.log('Task status updated successfully.');
                    updateCardStyle(taskId, isChecked);
                },
                error: function (error) {
                    console.error('Error updating task status: ', error);
                }
            });
        }

        function updateCardStyle(taskId, isChecked) {
            var $taskTitle = $('.task-title[data-task-id="' + taskId + '"]');
            $taskTitle.css('color', isChecked ? 'grey' : 'black');
        }
    </script>
}
