<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Catch TIME</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Home_animate.css")" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Home_style.css")" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand navbar-logo" href="#"> <img src="/Home_images/logo.png" alt="logo" class="logo-1"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="" data-scroll-nav="0">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="1">About</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="2">Features</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="3">Team</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="4">Testimonials</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="5">Mission</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="6">Join</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-------Banner Start------->
    <section class="banner" data-scroll-index='0'>
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="banner-text">
                            <h2 class="white">CatchTIME</h2>
                            <h6 class="white">Time is precious, catch it</h6>
                            <p class="banner-text white">CatchTIME is an app that uses AI to help you manage your time better. It lets you create time blocks for your tasks and activities, organize your to-do list, and predict how long it will take you to finish your tasks. It also gives you suggestions on when to start and end your tasks based on your schedule and preferences. CatchTIME is the app that helps you catch up with your goals and make the most of your time.</p>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Login", "Account")">
                                        <img src="@Url.Content("~/Home_images/appstore.png")" class="wow fadeInUp" data-wow-delay="0.4s" />
                                    </a>
                                </li>
                                <li><a href="@Url.Action("Create", "Account")"><img src="Home_images/playstore.png" class="wow fadeInUp" data-wow-delay="0.7s" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12"> <img src="@Url.Content("~/Home_images/iphone-screengg.png")" class="img-fluid wow fadeInUp" /> </div>
                </div>
            </div>
        </div>
        <span class="svg-wave"> <img class="svg-hero" src="Home_images/applight-wave.svg"></span>
    </section>

    <!-------Banner End------->
    <!-------About End------->

    <section class="about section-padding prelative" data-scroll-index='1'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center">
                        <h3>About</h3>
                        <span class="line"></span>
                        <p>Welcome to Catch Time!
                           We're thrilled to have you here. 
                           Catch Time is more than just a time management app—it's your personal assistant for staying organized, productive, and on top of your game.
                           Whether you're juggling school, work, or personal projects, we're here to help you catch every moment..</p>
                    </div>
                    <div class="section-content text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                                    <i class="fa-solid fa-clipboard-list" aria-hidden="true"></i>
                                    <h5>Easy Task Scheduling</h5>
                                    <p>
                                        Keep your day organized with our simple task scheduler. Set priorities, deadlines, and get reminders so nothing slips through the cracks.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                                    <i class="fa-solid fa-bullseye" aria-hidden="true"></i>
                                    <h5>Achieve Your Goals</h5>
                                    <p>
                                        Set and track your goals, big or small. We'll help you break them down into manageable steps so you can see your progress and stay motivated.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                                    <i class="fa-regular fa-clock" aria-hidden="true"></i>
                                    <h5>Track Your Time</h5>
                                    <p>
                                        Get insights into how you spend your time. Our time tracking feature helps you identify patterns, so you can make the most of your productive hours.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="0.8s">
                                    <i class='bx bx-timer' aria-hidden="true"></i>
                                    <h5>Stay Focused with Pomodoro</h5>
                                    <p>
                                        Use our Pomodoro timer to work in focused bursts with breaks in between. It's a great way to stay fresh and avoid burnout.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="1.0s">
                                    <i class='bx bx-sync' aria-hidden="true"></i>
                                    <h5>Seamless Calendar Sync</h5>
                                    <p>
                                        Sync CatchTIME with your calendar to keep all your tasks and deadlines in one place. Planning your day has never been easier.
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon-box wow fadeInUp" data-wow-delay="1.2s">
                                    <i class='bx bx-customize' aria-hidden="true"></i>
                                    <h5>Make It Yours</h5>
                                    <p>Customize the app to fit your style with different themes, notification settings, and more.</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="about-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------About End------->
    <!-------Video Start------->
    <section class="video-section prelative text-center white">
        <div class="section-padding video-overlay">
            <div class="container">
                <h3>Watch Now</h3>
                <i class="fa fa-play" id="video-icon" aria-hidden="true"></i>
                <div class="video-popup">
                    <div class="video-src">
                        <div class="iframe-src">
                            <iframe src="https://www.youtube.com/embed/Ku52zNnft8k?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------Video End------->
    <!-------Features Start------->
    <section class="feature section-padding" data-scroll-index='2'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center">
                        <h3>Features</h3>
                        <span class="line"></span>
                        <p>Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
                    </div>
                    <div class="section-content text-center">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="media-body text-right media-right-margin">
                                        <h5>Fast Processing</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                    <div class="media-right icon-border"> <span class="fa fa-bolt" aria-hidden="true"></span> </div>
                                </div>
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="media-body text-right media-right-margin">
                                        <h5>Low Power Consuming</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                    <div class="media-right icon-border"> <span class="fa fa-battery-full" aria-hidden="true"></span> </div>
                                </div>
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="media-body text-right media-right-margin">
                                        <h5>Wifi Compatibility</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                    <div class="media-right icon-border"> <span class="fa fa-wifi" aria-hidden="true"></span> </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-none d-md-block d-lg-block">
                                <div class="feature-mobile"> <img src="images/iphone-screen-with-shadow.png" class="img-fluid wow fadeInUp" /> </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="media-left icon-border media-right-margin"> <span class="fa fa-check-double" aria-hidden="true"></span> </div>
                                    <div class="media-body text-left">
                                        <h5>Regular Updates</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                </div>
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="media-left icon-border media-right-margin"> <span class="fa fa-dollar-sign" aria-hidden="true"></span> </div>
                                    <div class="media-body text-left">
                                        <h5>Save Money</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                </div>
                                <div class="media single-feature wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="media-left icon-border media-right-margin"> <span class="fa fa-hdd" aria-hidden="true"></span> </div>
                                    <div class="media-body text-left">
                                        <h5>Unlimited Storage</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------Features End------->
    <!-------Team Start------->
    <section class="team section-padding" data-scroll-index='3'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center">
                        <h3>Our Team</h3>
                        <span class="line"></span>
                        <p>Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
                    </div>
                    <div class="section-content text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-detail wow bounce" data-wow-delay="0.2s">
                                    <img src="images/user1.jpg" class="img-fluid" />
                                    <h4>Nitu Singh</h4>
                                    <p>Marketing Specialist</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-detail wow bounce" data-wow-delay="0.4s">
                                    <img src="images/user2.jpg" class="img-fluid" />
                                    <h4>Yogesh Singh</h4>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-detail wow bounce" data-wow-delay="0.6s">
                                    <img src="images/user3.jpg" class="img-fluid" />
                                    <h4>Nisha Sharma</h4>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------Team End------->
    <!-------Testimonial Start------->
    <section class="testimonial section-padding" data-scroll-index='4'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center white">
                        <h3>Testimonials</h3>
                        <span class="line"></span>
                        <p class="white">Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
                    </div>

                    <div class="section-content">
                        <div class="row">
                            <div class="offset-md-2 col-md-8 col-sm-12">
                                <div class="slider">
                                    <div class="slider-item">
                                        <div class="test-img"><img src="images/user1.jpg" alt="Placeholder" width="157" height="157"></div>
                                        <div class="test-text"><span class="title"><span>John Michal</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat.</div>
                                    </div>
                                    <div class="slider-item">
                                        <div class="test-img"><img src="images/user3.jpg" alt="Placeholder" width="157" height="157"></div>
                                        <div class="test-text"><span class="title"><span>Steve Smith</span> App User</span> Euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</div>
                                    </div>
                                    <div class="slider-item">
                                        <div class="test-img"><img src="images/user3.jpg" alt="Placeholder" width="157" height="157"></div>
                                        <div class="test-text"><span class="title"><span>Gordon Shaw</span> Blogger</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------Testimonial End------->
    <section class="team section-padding" data-scroll-index='3'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center">
                        <h3>Our Mission</h3>
                        <span class="line"></span>
                        <p>At CatchTIME, our mission is to help you take control of your time and achieve your best self. We believe that everyone deserves to live a balanced, productive, and fulfilling life, and we're here to provide the tools and support you need to make that happen.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------Download End------->
    <section class="download section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectioner-header text-center white">
                        <h3>Join Us!</h3>
                        <span class="line"></span>
                        <p class="white">Join us and unlock a world of possibilities! Sign up today to streamline your tasks, achieve your goals faster, and experience unparalleled efficiency</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="section-content text-center">
                        <ul>
                            <li><a href="@Url.Action("Login", "Account")"><img src="/Home_images/appstore.png" class="wow fadeInUp" data-wow-delay="0.4s" /></a></li>
                            <li><a href="@Url.Action("Create", "Account")"><img src="/Home_images/playstore.png" class="wow fadeInUp" data-wow-delay="0.7s" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------Download End------->

    <footer class="footer-copy">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p>2024 &copy; CatchTIME.</p>
                    <p>Faculty Of Computers And Artificial Intelligence</p>
                    <p>Matrouh Universty </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script src="https://kit.fontawesome.com/85940c58c2.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!-- scrollIt js -->
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script type="text/javascript">
        wow = new WOW();
        wow.init();
        $(document).ready(function (e) {

            $('#video-icon').on('click', function (e) {
                e.preventDefault();
                $('.video-popup').css('display', 'flex');
                $('.iframe-src').slideDown();
            });
            $('.video-popup').on('click', function (e) {
                var $target = e.target.nodeName;
                var video_src = $(this).find('iframe').attr('src');
                if ($target != 'IFRAME') {
                    $('.video-popup').fadeOut();
                    $('.iframe-src').slideUp();
                    $('.video-popup iframe').attr('src', " ");
                    $('.video-popup iframe').attr('src', video_src);
                }
            });

            $('.slider').bxSlider({
                pager: false
            });
        });

        $(window).on("scroll", function () {

            var bodyScroll = $(window).scrollTop(),
                navbar = $(".navbar");

            if (bodyScroll > 50) {
                $('.navbar-logo img').attr('src', '/Home_images/logo-black.png');
                navbar.addClass("nav-scroll");

            } else {
                $('.navbar-logo img').attr('src', '/Home_images/logo.png');
                navbar.removeClass("nav-scroll");
            }

        });
        $(window).on("load", function () {
            var bodyScroll = $(window).scrollTop(),
                navbar = $(".navbar");

            if (bodyScroll > 50) {
                $('.navbar-logo img').attr('src', '/Home_images/logo-black.png');
                navbar.addClass("nav-scroll");
            } else {
                $('.navbar-logo img').attr('src', '/Home_images/logo.png');
                navbar.removeClass("nav-scroll");
            }

            $.scrollIt({

                easing: 'swing',      // the easing function for animation
                scrollTime: 900,       // how long (in ms) the animation takes
                activeClass: 'active', // class given to the active nav element
                onPageChange: null,    // function(pageIndex) that is called when page is changed
                topOffset: -63
            });
        });

    </script>
</body>
</html>