@model TESTT.Models.Task

<div>
    <h4>Task Title: @Model.TaskTitle</h4>
    <p>Difficulty: @Model.TaskDifficulty</p>
    <p>Date: @Model.TaskDate</p>
    <p>Priority: @Model.TaskPriority</p>
    <p>Tag: @Model.TaskTag</p>
    <p>Duration: @Model.TaskDuration</p>
    <p>Start Time: @Model.TaskStartTime</p>
    <p>End Time: @Model.TaskEndTime</p>
    
    <p>Status: @Model.TaskStatus</p>
    
</div>
